
<!DOCTYPE html>
<html>



<body>

    <main id="main">
        @model List<Web_Scraping_Akademi_Uygulaması.Controllers.DatabaseController.AramaMotoru>

        <section class="section">
            <div class="row">
                <div class="col-lg-12">

                    <div class="card">
                        <div class="card-body">

                            <!-- Table with stripped rows -->
                            <table class="table datatable">
                                <thead>
                                    <tr>
                                        <th scope="col">Makale Adı</th>
                                        <th scope="col">Özet</th>
                                        <th scope="col">Alıntı Sayısı</th>
                                        <th scope="col">Yayımlanma Tarihi</th>
                                        <th scope="col">PDF</th>
                                        <th scope="col">Anahtar Kelime</th>




                                        <!--<th data-type="date" data-format="YYYY/DD/MM">Start Date</th> -->
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 0; Model.Count != 0 & Model.Count > 0 && i < Model.Count; i++)
                                    {
                                        <tr>
                                            <td>
                                                <a href="@Url.Action("Privacy", "Home", new { id = Model[i].Id })">@Model[i].yayinAdi</a>

                                            </td>

                                            <td>
                                                @if (!string.IsNullOrEmpty(Model[i].ozet))
                                                {
                                                    @Html.Raw(Model[i].ozet.Substring(0, Math.Min(Model[i].ozet.Length, 150)))
                                                }
                                            </td>
                                            <td>@Model[i].alintiSayisi</td>
                                            <td>@Model[i].yayimlanmaTarihi</td>
                                            <td><a href=@Model[i].urlAdresi>PDF</a></td>
                                            <td>@Model[i].anahtarKelimelerArama</td>

                                        </tr>

                                    }
                                    @if (Model.Count == 0)
                                    {
                                        <h1>Bulunamadı</h1>
                                    }

                                </tbody>
                            </table>
                            <!-- End Table with stripped rows -->

                        </div>
                    </div>

                </div>
                <div class="col-lg-4">
                    <div class="container">


                        <div class="sidebar">
                            <form action="/Home/aramaFiltre" method="post">
                                <h1> ____________________________ </h1>

                                <input type="text" name="key" placeholder="Ara...">

                                <h1> ____________________________ </h1>
                                <h4><br />Yayın Türü</h4>

                                <label>
                                    <input type="checkbox" name="yayinTuru" value="Araştırma Makalesi">
                                    Araştırma Makalesi
                                </label>
                                <label>
                                    <input type="checkbox" name="yayinTuru" value="Derleme">
                                    Derleme
                                </label>
                                <label>
                                    <input type="checkbox" name="yayinTuru" value="Editorial">
                                    Editorial
                                </label>
                                <label>
                                    <input type="checkbox" name="yayinTuru" value="Makaleler">
                                    Makaleler
                                </label>
                                <label>
                                    <input type="checkbox" name="yayinTuru" value="Articles">
                                    Articles
                                </label>
                                <label>
                                    <input type="checkbox" name="yayinTuru" value="Research Articles">
                                    Research Articles
                                </label>
                                <label>
                                    <input type="checkbox" name="yayinTuru" value="Original Research Articles">
                                    Original Research Articles
                                </label>
                                <label>
                                    <input type="checkbox" name="yayinTuru" value="Review Article">
                                    Review Article
                                </label>
                                <label>
                                    <input type="checkbox" name="yayinTuru" value="TJST">
                                    TJST
                                </label>


                                <h4><br />Alıntı Sayısı</h4>
                                <label for="minAlintiSayisi">Minimum Alıntı Sayısı:</label>
                                <input type="number" id="minAlintiSayisi" name="minAlintiSayisi" min="0">

                                <label for="maxAlintiSayisi">Maksimum Alıntı Sayısı:</label>
                                <input type="number" id="maxAlintiSayisi" name="maxAlintiSayisi" min="0">
                                <h4><br />Yayımlanma Tarihi</h4>

                                <label for="baslangicTarihi">Başlangıç Tarihi:</label>
                                <input type="date" id="baslangicTarihi" name="baslangicTarihi">

                                <label for="bitisTarihi">Bitiş Tarihi:</label>
                                <input type="date" id="bitisTarihi" name="bitisTarihi">
                                <h4><br />Yazarlar</h4>

                                <label for="yazarlarinIsimleri">Yazarların İsimleri:</label>
                                <input type="text" id="yazarlarinIsimleri" name="yazarlarinIsimleri">

                                <button type="submit">Filtrele</button>
                            </form>
                        </div>
                    </div>

        </section><!-- End Blog Section -->

    </main><!-- End #main -->


    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <!-- Template Main JS File -->
    <script src="~/Sailor/assets/js/main.js"></script>

</body>

</html>