
<!DOCTYPE html>
<html>



<body>

    <main id="main">
        @model List<Web_Scraping_Akademi_Uygulaması.Controllers.DatabaseController.AramaMotoru>

        <section class="section">
            <div class="row">
                <div class="col-lg-12">

                    <div class="card">
                        <div class="card-body">

                            <!-- Table with stripped rows -->
                            <table class="table datatable">
                                <thead>
                                    <tr>
                                        <th scope="col">Makale Adı</th>
                                        <th scope="col">Özet</th>
                                        <th scope="col">Alıntı Sayısı</th>
                                        <th scope="col">Yayımlanma Tarihi</th>
                                        <th scope="col">PDF</th>
                                        <th scope="col">Anahtar Kelime</th>




                                        <!--<th data-type="date" data-format="YYYY/DD/MM">Start Date</th> -->
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = Model.Count-19;Model.Count!=0& Model.Count>19&& i < Model.Count; i++)
                                    {
                                            <tr>
                                            <td>
                                                <a href="@Url.Action("Privacy", "Home", new { id = Model[i].Id })">@Model[i].yayinAdi</a>

                                            </td>
                                           
                                            <td>
                                                @if (!string.IsNullOrEmpty(Model[i].ozet))
                                                {
                                                    @Html.Raw(Model[i].ozet.Substring(0, Math.Min(Model[i].ozet.Length, 150)))
                                                }
                                            </td>
                                            <td>@Model[i].alintiSayisi</td>
                                            <td>@Model[i].yayimlanmaTarihi</td>
                                            <td><a href=@Model[i].urlAdresi>PDF</a></td>
                                            <td>@Model[i].anahtarKelimelerArama</td>

                                        </tr>

                                    }
                                    <!--
                                    @for (int i = 0; Model.Count != 0 & Model.Count > 19 && i < Model.Count-19; i++)
                                    {
                                        <tr>
                                            <td>
                                                <a href="@Url.Action("Privacy", "Home", new { id = Model[i].Id })">@Model[i].yayinAdi</a>

                                            </td>

                                            <td>
                                                @if (!string.IsNullOrEmpty(Model[i].ozet))
                                                {
                                                    @Html.Raw(Model[i].ozet.Substring(0, Math.Min(Model[i].ozet.Length, 150)))
                                                }
                                            </td>
                                            <td>@Model[i].alintiSayisi</td>
                                            <td>@Model[i].yayimlanmaTarihi</td>
                                            <td><a href=@Model[i].urlAdresi>PDF</a></td>
                                            <td>@Model[i].anahtarKelimelerArama</td>

                                        </tr>

                                    } 
                                    Eğer bunu açarsam sıralamalarda sorun oluyor ama aramada sorun olmuyor bunun çözülmesi gerek
                                    -->
                                </tbody>
                            </table>
                            <!-- End Table with stripped rows -->

                        </div>
                    </div>

                </div>
            </div>

        </section><!-- End Blog Section -->

    </main><!-- End #main -->


    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <!-- Template Main JS File -->
    <script src="~/Sailor/assets/js/main.js"></script>

</body>

</html>